{% extends '@EasyAdmin/default/show.html.twig' %}

{% block content_title %}
	{{ parent() }}
	{{ entity.date|date("d/m/Y") }} (<a href="{{ path('easyadmin', { action: 'show', entity: 'Magasin', id: entity.magasin.id, referer: '' }) }}">{{ entity.magasin }}</a>)
	{% set field_options = {'colors': statut_audit_colors, 'label': 'audit.statut' } %}
	{% include  'easy_admin/choice_list.html.twig' with {'field_options': field_options, 'value': entity.statut } %}
{% endblock %}

{% block main %}
	<div class="form-horizontal">
	{% for rayon_magasin in entity.magasin.rayonsMagasins %}
		<div class="box box-primary box-solid" style="border-color:{{ rayon_magasin.rayon.couleur }};">
			<div class="box-header with-border" style="background-color:{{ rayon_magasin.rayon.couleur }};">
				<h3 class="box-title">{{ rayon_magasin.rayon }}</h3>
				<div class="box-tools pull-right">
	            	<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
	            </div>
			</div>
			<div class="box-body">
                <div class="box-group" id="accordion{{ rayon_magasin.id }}">
                    {% for zone in rayon_magasin.zones %}
                    <div class="panel box">
                        <div class="box-header with-border">
                            <h4 class="box-title" style="display:block;">
                                <a data-toggle="collapse" data-parent="#accordion{{ rayon_magasin.id }}" href="#collapse{{ rayon_magasin.id }}{{zone.id}}" style="display:block; color:{{ rayon_magasin.rayon.couleur }};">{{ zone.nom }}</a>
                            </h4>
                        </div>
                        <div id="collapse{{ rayon_magasin.id }}{{zone.id}}" class="panel-collapse collapse">
                            <div class="box-body">
                                <ul class="todo-list">
                                {% for item in zone.items %}
                                    {% set audit_item = entity.getItem(item, zone, rayon_magasin) %}
                                    <li class="{% if audit_item.statut == 0 %}bg-grey disabled{% elseif audit_item.statut == 1 %}bg-green{% elseif audit_item.statut == 2 %}bg-red{% elseif audit_item.statut == 3 %}bg-grey{% endif%}">
                                        <div class="btn_audit btn-group btn-group-sm">
                                            <button type="button" class="btn btn-sm btn-default c {% if audit_item.statut == 1 %}actif{% endif%}" data-id="{{ audit_item.id }}" data-statut="1"><i class="fa fa-check"></i></button>
                                            <button type="button" class="btn btn-sm btn-default nc {% if audit_item.statut == 2 %}actif{% endif%}" data-id="{{ audit_item.id }}" data-statut="2"><i class="fa fa-close"></i></button>
                                            <button type="button" class="btn btn-sm btn-default ne {% if audit_item.statut == 3 %}actif{% endif%}" data-id="{{ audit_item.id }}" data-statut="3"><i class="fa fa-eye-slash"></i></button>
                                        </div>
                                        <span class="text">{{ item.nom }}</span>
                                        
                                        <!-- Emphasis label -->
                                        <small class="label label-info"><i class="fa fa-clock-o"></i> 2 mins</small>
                                        <!-- General tools such as edit or delete-->
                                        <div class="tools">
                                            <i class="fa fa-edit edit_item"></i>
                                            <i class="fa fa-trash-o"></i>
                                        </div>
                                    </li>
                                {% endfor %}
                                </ul>                                
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
		</div>
	{% endfor %}
	</div>
{% endblock %}

{% block body_javascript %}

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">{% trans %}audit.item.modal.title{% endtrans %}</h4>
                </div>
                <div class="modal-body">
                    
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans %}audit.item.modal.bt_close{% endtrans %}</button>
                    <button type="button" class="btn btn-primary">{% trans %}audit.item.modal.bt_confirm{% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>

	{{ parent() }}
    
    <script type="text/javascript">
        $(function() {
            $('.btn_audit > .btn').click(function() {
                //send ajax request
                $.post({
                    type: 'POST',
                    url: '{{ path("audit_change_statut_item") }}',
                    data: {
                        'id': $(this).data('id'),
                        'statut': $(this).data('statut')
                    },
                    success: function(response) {
                        //console.log(response);
                    }
                });

                var li_class = "";
                if($(this).hasClass("c")) li_class = "bg-green";
                if($(this).hasClass("nc")){
                    li_class = "bg-red";

                    $.post({
                        type: 'POST',
                        url: '{{ path("audit_item_form") }}',
                        data: {
                            'id': $(this).data('id'),
                        },
                        success: function(response) {
                            $('#myModal .modal-body').html(response);
                            $('#myModal').modal();
                        }
                    });

                    
                }
                if($(this).hasClass("ne")) li_class = "bg-grey";

                $(this).parent().children().removeClass("actif");
                $(this).addClass( "actif" );
                $(this).parents("li").removeClass();
                $(this).parents("li").addClass(li_class);
            });
        });
    </script>

{% endblock body_javascript %}